:root {
  --font-main: "Segoe UI", sans-serif;
  --color-primary: #17B4A3;
  --color-secondary:#FC7A3A;
  --color-secondary-hover:#ca561c;
  --color-error:#FE4D53;
  --color-ligth:#FFFFFF;
  --bg-color: #F3F3FA;
  --color:#6f7474;
  --shadow-smooth: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-selft-start {
  align-self: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}
@media (min-width: 0) {
  .container {
    max-width: 360px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

#root {
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
  margin: 4rem auto;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  line-height: 1.5;
  padding: 2rem;
}

h1, h2 {
  font-size: 1.3rem;
  margin: 0 0 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

button, input {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  font-size: 1rem;
}

.app h1 {
  color: var(--color-ligth);
}
.app h2 {
  color: var(--color);
}
.app__grid {
  gap: 4rem;
}
.app__form {
  flex: 1;
  min-width: 300px;
  min-height: 200px;
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: var(--shadow-smooth);
}
.app__list {
  flex: 1;
  min-width: 300px;
  min-height: 500px;
  max-height: 500px;
  background-color: var(--color-ligth);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: var(--shadow-smooth);
}

.form {
  color: var(--color-ligth);
}
.form__group {
  gap: 0.25rem;
}
.form__input {
  max-width: 360px;
  padding: 0.5rem;
  border-radius: 4px;
  color: var(--color);
}
.form__input--error {
  border: 1.2px solid var(--color-error);
}
.form__error {
  height: 1.25rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: block;
}
.form__btn {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-secondary);
  color: var(--color-ligth);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.form__btn:focus {
  outline: none;
}
.form__btn:hover {
  background-color: var(--color-secondary-hover);
}

.task__list {
  gap: 1rem;
  color: var(--color);
  background-color: var(--bg-ligth);
  overflow-y: auto;
  max-height: 400px;
}
.task__text {
  text-transform: capitalize;
}
.task__item {
  padding: 0.5rem;
  background-color: var(--bg-color);
  border-radius: 6px;
}
.task__delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.task__delete:focus {
  outline: none;
}
.task__icon {
  width: 24px;
  height: 24px;
  color: var(--color-secondary);
  transition: transform 0.2s ease;
}
.task__icon:hover {
  transform: scale(1.1);
}
.task__empety {
  margin-top: 3rem;
}/*# sourceMappingURL=main.css.map */